@font-face {
    font-family: "Orbitron";
    src: url('../static/Orbitron-Regular.ttf');
}

@font-face {
    font-family: "Wallpoet";
    src: url('../static/Wallpoet-Regular.ttf');
}

@font-face {
    font-family: "Skranji";
    src: url('../static/Skranji-Regular.ttf');
}

@font-face {
    font-family: "YanoneKaffeesatz";
    src: url('../static/YanoneKaffeesatz-VariableFont_wght.ttf');
}

@font-face {
    font-family: "NewsCycle";
    src: url("../static/NewsCycle-Regular.ttf");
}


body {
    width: 700px;
    margin: 0 auto;
}

.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}

.pageTitleLogo {
    font-size: 48px;
}

.pageTitleText {
    font-family: 'Orbitron';
    text-align: center;
    font-size: 72px;
    margin: 40px 20px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-bottom: 60px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.searchIcon {
    font-size: 32px;
}

.searchForm {
}

.searchInput {
    font-size: 26px;
    padding: 8px;
    border: none;
}

.searchInput:focus {
    outline: none;
}

.matchList {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.matchItem {
    max-height: 64px;
    transition: max-height 0.7s;
    overflow: hidden;
    border: solid 1px black;
}

.matchItem:hover {
    max-height: 500px;
    transition: max-height 750ms;
}

.matchTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    white-space: nowrap;
}

.matchTitleText {
    font-family: 'NewsCycle';
    font-size: 32px;
}

.matchTitleDetails {
    font-family: "NewsCycle";
    font-size: 24px;
    color: gray;
}

.matchCompetition {
    padding-right: 10px;
}

.matchDate {
}

.matchContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchVideo {
    width: 90% !important;
    border-radius: 30px;
    overflow: hidden;
    margin: 5% 0;
}