body {
    width: 600px;
    margin: 0 auto;
}

.pageTitle {
    text-align: center;
    font-size: 48px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.matchList {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.matchItem {
    max-height: 500px;
    transition: max-height 0.7s ease-out;
    overflow: hidden;
    border: solid 1px black;
}

.matchItem:hover {
    max-height: 500px;
    transition: max-height 750ms;
}

.matchTitle {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    padding: 10px 30px;
}

.matchTitleText {
}

.matchTitleDetails {

}

.matchCompetition {
    padding-right: 30px;
}

.matchDate {
}

.matchContent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
}

.matchVideo {
    width: 90% !important;
    border-radius: 30px;
    overflow: hidden;
    margin: 5% 0;
}